#send{
    background-color: rgb(192, 60, 60);
    width: 250px;
    height: 30px;
    font-size: large;
}

#login{
    background-color: antiquewhite;
    position: absolute;
    right: 40px;
    top: 20px;
}
.color{
    position: relative;
    left: 500px;
    top: 100px;
}
.color1{
    background-image: url("./french.jpeg");
    display: block;

    align-items: center;
    text-align: center;
    
}
#log{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: blanchedalmond;
    align-items: center;
    text-align: center;
}